body {
    background-color: goldenrod;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-family: fantasy;
    font-size: 38px;
  }
  
  p {
    font-family: helvetica;
    font-size: 26px;
  }

  a {
      font-family: helvetica;
      font-size: 20px;
  }

  p:hover { /* This applies a rule to paragraphs when a cursor hovers over it */
      border: 1px solid black
  }

  #Hyperlinks {
      font-family: 'Segoe UI';
      font-size: 20px;
  }
  